.notFound {
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.not-found-left {
  display: flex;
  flex-direction: column;
  font-family: "DM";
  gap: 20px;
}
.not-found-title {
  font-size: 250px;
  color: #cda274;
}
.not-found-text {
  font-size: 35px;
  color: #292f36;
  width: 570px;
}
.not-found-button {
  width: 253px;
  display: flex;
  padding: 26px 54px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: #ffffff;
  font-family: "Jost_sb";
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 1201px) {
  .notFound {
    gap: 24px;
  }
  .not-found-left {
    max-width: 500px;
  }
  .notFound img {
    max-width: 500px;
  }
  .not-found-title {
    font-size: 200px;
  }
  .not-found-text {
    max-width: 500px;
  }
}
@media (max-width: 1024px) {
  .notFound {
    gap: 18px;
  }
  .not-found-left {
    max-width: 375px;
  }
  .notFound img {
    max-width: 375px;
  }
  .not-found-title {
    font-size: 200px;
  }
  .not-found-text {
    max-width: 375px;
  }
}
@media (max-width: 768px) {
  .notFound img {
    display: none;
  }
}
